<div class="result-item-container">
    <div class="row">
        <div class="col-lg-2">
                <div class="result-score">
                    <h4>{{item.scorePercentage}}%</h4>
                </div>

        </div>
        <div class="col-lg-10">

            <div class="result-item">
              <h4>{{item.title}}</h4>
              <p class="description">{{item.description}}</p>
            </div>

        </div>

    </div>
</div>
