<div class="container">

    <div class="header">
        <h1>
            The DevOps <br> Checklist
        </h1>
    </div>

    <div class="intro">
        <p>
            This checklist is checklist of checklists for checklisting lists.
        </p>
        <p>
            If your list is checklisted, than list your checks and check the lists again.
        </p>
    </div>

    <div class="body">
        {{outlet}}
    </div>
</div>
