<div class="container">

    <div class="header">
        <h1>
            <a href="/">The DevOps Checklist</a>
        </h1>
    </div>

    <div class="intro">
        <p>
            Чеклист состоит из 48 утверждений с помощью которых вы сможете легко оценить зрелость
            компетенций доставки ПО и сформировать измерительную базу для будующих улучшений.
            Задачей чеклиста является обозначение сфер для потенциальных улучшений.

        </p>
        <p>
            Содержимое составлено на множестве кейсов, выступлений, собранных за пять лет –
            внизу страницы в секции "Ссылки" представлены некоторые из них. Так же мы постоянно
            расширяем содержимое, обращайтесь в твиттер @SteveElsewhere, а так же на почту,
            если у вас есть предложения или возрожения.
        </p>
    </div>

    <div class="body">
        {{outlet}}
    </div>
</div>
