<div class="container">

    <div class="header">
        <h1>
            <a href="/">The DevOps Checklist</a>
        </h1>
    </div>

    <div class="intro">
        <p>
            This checklist is comprised of 48 items you can use to gauge the maturity of your
            software delivery competency, and form a baseline to measure your future improvements.
            It's not meant to say "you're failing DevOps" or deprive you of a badge (make
            yourself a badge just for reading this!), but surface areas of potential improvement.
        </p>
        <p>
            The content here is based on many case studies, talks and content on DevOps,
            collected over the past 5 years - you can see some of the highlights down
            in the 'References' section. We're also continually adding more context and
            content - so tweet @SteveElsewhere or email us if you have suggestions,
            disagree, have a question or want more info!
        </p>
    </div>

    <div class="body">
        {{outlet}}
    </div>
</div>
