<br>

<div class="items">

    <div class="strike">
        <span>Согласованность</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Объединение групповых и индивидуальных целей, а также направления деятельности, на основе одного представления об организации.
        </div>
    </div>


    {{#each model as |item|}}
        {{#if item.isAlignment}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Контекст</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Делая необходимую информацию и список контактов доступными для тех, кому это требуется и когда это требуется.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isContext}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Обучение</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Предоставление возможностей личностного роста и стимулирование понимания через процесс постоянного совершенстования.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isLearning}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Жизненный цикл</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Отношение к ПО как к продукту, заслуживающему заботы, внимания и размышлений в рамках постоянно меняющейся экосистемы.
        </div>
    </div>


    {{#each model as |item|}}
        {{#if item.isLifecycle}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Organization</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Providing structure for interaction and cohesion supporting collaboration and productivity.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isOrganization}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Организация</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Создание структуры, обеспечивающей взаимодействие и сплоченность, которая позволит поддерживать сотрудничество и продуктивность работы.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isProcess}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}


</div>

<div class="score">
    <div class="strike">
        <span>Результат</span>
    </div>
    <br><br>
    <button type="button" class="btn btn-default btn-lg">Посчитать!</button>
</div>

<div class="footer">

    <h3>Вот и все!</h3>
    <p>
        Спасибо за использование DevOps Checklist для оценки своей команды!
        <br>
        Мы надеемся, что у вас сформировалось лучшее понимание DevOps с помощью этого чеклиста.
    </p>

</div>

<hr>

{{outlet}}
