<hr>

<div class="filters">
    Фильтр:
    <span class="tag">Все</span>
    <span class="tag">Культура</span>
    <span class="tag">Шэринг</span>
    <span class="tag">Автоматизация</span>
    <span class="tag">Тестирование</span>
</div>

<br>

<div class="items">

    <div class="strike">
        <span>Alignment</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Unifying group and individual direction and goals around the singular vision of the organization.
        </div>
    </div>


    {{#each model as |item|}}
        {{#if item.isAlignment}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Context</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Making relevant information and contact available to those who need it, when they need it.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isContext}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Learning</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Empowering personal growth and fostering understanding through continuous improvement.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isLearning}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Lifecycle</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Focus on software as a product deserving of care, attention and reflection, within an ever-changing
            <br>ecosystem.
        </div>
    </div>


    {{#each model as |item|}}
        {{#if item.isLifecycle}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Organization</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Providing structure for interaction and cohesion supporting collaboration and productivity.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isOrganization}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Process</span>
    </div>

    <div class="row">
        <div class="col-lg-12 category-description">
            Rituals crafted to foster consistency and confidence, providing a framework for continuous
            <br>improvement.
        </div>
    </div>

    {{#each model as |item|}}
        {{#if item.isProcess}}
        {{#check-item id=item.id title=item.title tags=item.tags description=item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}


</div>

<div class="score">
    <div class="strike">
        <span>Score</span>
    </div>
    <br><br>
    <button type="button" class="btn btn-default btn-lg">Пока не работает :(</button>
</div>

<div class="footer">

    <h3>Вот и все!</h3>
    <p>
        Спасибо за использование DevOps Checklist для оценки своей команды!
        <br>
        Мы надеемся, что у вас сформировалось лучшее понимание DevOps с помощью этого чеклиста.
    </p>

</div>

<hr>

{{outlet}}
